.detailsproject{
	margin-top: 69px;
}
.leftcontentproject{
	float: left;
	width: 60%;
}
.rightcontentproject{
	float: right;
	width: 40%;
}
h2{
	font-family: 'Roboto Slab', serif;
	font-size: 35px;
	font-weight: 700;
	color:#616161;
	padding: 0;
}
.rightcontentproject p {
	font-family: 'Roboto';
	font-size: 15px;
	color: #7f7f7f;
	margin-top: 35px;
}
.seeproject{
	margin-top: 43px;
}
.pages{
	list-style: none;
	text-align: center;
	margin-bottom: 155px;
	margin-top: 40px;
}
.pages li{
	display: inline-block;
}
.cercproject{
	border-radius: 50%;
	height: 11px;
	width: 11px;
	border:1px solid #acacac;

}
 a:hover .cercproject{
border:1px solid #fed7d5;
}	

